/* TSOS.css */

body, html {
  min-height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(ghostwhite, mediumpurple);
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;

}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  display: inline;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#faefff;
  border: 2px solid mediumpurple;
  cursor: default;
}

.normal_button {
  width: 100px;
  border: solid mediumpurple;
  background: whitesmoke;
  font-family: Verdana, sans-serif;
}

textarea {
  border: solid mediumpurple;
  background-color:#faefff;
}

table, .memdiv {
  border: solid mediumpurple;
  border-collapse: collapse;
  border-width:3px;
  background-color:#faefff;
}

.memdiv {
  border-width: 2px;
  border-right-width: 3px;
}

th, td {
  text-align: center;
  border: 1px solid mediumpurple;
  border-collapse: collapse;
}

th {
  font-size: 15px;
}



.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
